<div>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-auto">
      <form action="" class="form-control d-flex flex-column shadow gap-2">
        <img src="eee.gr" alt="ssss">
        <hr>
        <label for="usuario" class="form-label">Usuario:</label>
        <input type="text" id="usuario" class="form-control w-100">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="text" id="password" class="form-control w-100">
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button class="btn btn-success w-100">Ingresar</button>
      </form>
    </div>
  </div>
</div>
